{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'services/detail.css' %}">

<div id="content">
</div>


	
	<p id="title">{{ service.description }}</p>
	
	
	<p id="subtitle">Here is where a description of the service will appear. It could be pretty long - perhaps as many as 1,000 words. Actually, on reflection, that would probably be too long. Better set a limit as to the length people can describe their services.
	<br>
	Testing 1.2.3..
	</p>

	
	<p id="li1">Website: {{service.website }}
	</p>

	<p id="li2">Other useful information... perhaps about how to contact them, etc. 
	</p>

	


<div id="media">

	<p id="image">

		<img src="{{service.image_url}}">
	
	</p>

</div>



