{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'services/detail.css' %}">

<div id="content">



	<p id="service-title">{{service.title}}</p>

	<p id="service-description">{{ service.description }}</p>
	

	<p><strong>Telephone number: </strong>{{service.telephone}}</p>	
	<p><strong>Email address:</strong>{{service.email}}</p>
	<p><strong>Website: </strong>{{service.website}}</p>


	<p>Other useful information... perhaps link for making referral, etc. </p>

</div>


<div id="media">

	<p id="image">

		<img src="{{service.image_url}}">
	
	</p>

</div>



