{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'services/index.css' %}">

	<div id="content">
	<p>Do you want to view your <a href="{% url 'location' %}">local resources</a>? 
	<br>
	Or those <a href="{% url 'recent' %}">recently added</a> to the site?</p>


	<p>Alternatively, here is a list of all services. Which service would you like to know more about?</p>
	
	<ul>

	{% for services in services.all %}
		<li><a href="{% url 'detail' services.id %}"> {{ services.title }} </a></li>
	{% endfor %}

	</ul>
	</div>